
.admin_page_container {
    width: max(70%, 800px);
    height: 100vh; /* redundancy for browser support */
}



.content_container{
        width: var(--workspace-width);
        height: 100%;
        margin:auto;
        background-color: rgb(246, 246, 246);
        padding: 10px;
}