.separator_thick{
    border: none;
    height: 4px;
    /* Set the hr color */
    color: #333;  /* old IE */
    background-color: #333;  /* Modern Browsers */
    margin-bottom: 8px;
}

.table{
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
}

.table td, .table th {
    width: 20%;
    height: 40px;
    border: 1px solid #000000;
    text-align: center;
    padding: 0px;
}

.table th {
    background-color: var(--primary-main);
    color: white;
    top: 0;
    z-index: 2;
    position: sticky;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table ul {
    list-style-position: inside;
}


.submit_btn {
    margin-top: 30px;
    height: 40px;
    width: 250px;
    display: inline-block;
    color: white    ;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--secondary-main);
    transition: background-color 100ms;
}

.submit_btn:hover {
    background-color: var(--secondary-dark);
}

.cancel_btn {
    margin-top: 30px;
    height: 40px;
    width: 250px;
    color: white;
    display: inline-block;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--gray-main);
    transition: background-color 100ms;
}


.cancel_btn:hover {
    background-color: var(--gray-dark);
}

.btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.flex_column {
display: flex;
flex-direction: column;
}