@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-main: #2e4272;
    --primary-dark: #162856;
    --primary-light: #4f618f;
    --primary-very-light: #768cc4;
    --secondary-main: #267255;
    --secondary-dark: #084d1f;
    --secondary-light: #4caf50;
    --error-text: #fff;
    --error-main: #f44336;
    --error-dark: #ba000d;
    --error-light: #ff7961;
    --warning-text: #fff;
    --warning-main: #ff9800;
    --warning-dark: #f57c00;
    --warning-light: #ffb74d;
    --info-main: #2196f3;
    --info-dark: #1976d2;
    --info-light: #64b5f6;
    --success-main: #4caf50;
    --success-dark: #388e3c;
    --success-light: #81c784;
    --succes-text: #fff;
    --gray-main: #7d7d7d;
    --gray-dark: #606060;
    --gray-light: #cfcfcf;
    
    --workspace-width: max(70%, 550px);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}